# Alternative constraints based on the previous cpu.lpf header-style mapping.
# Use this ONLY if you physically connected external LEDs/reset to these exact FPGA pins.
# For normal ULX3S onboard LEDs, use constraints_ulx3s_onboard.lpf instead.

SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;

LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "reset" SITE "K3";
IOBUF PORT "reset" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "led[0]" SITE "E1";
LOCATE COMP "led[1]" SITE "F2";
LOCATE COMP "led[2]" SITE "E4";
LOCATE COMP "led[3]" SITE "F1";

IOBUF PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
