# Colorlight i5 / Lattice ECP5 45K constraints
# Wishbone CPU + LED hardware test
# Clock: 25 MHz clock on P3
# Reset: mapped to header pin P18 with pulldown, normally inactive
# LEDs: external LEDs on header pins

SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;

LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "reset" SITE "P18";
IOBUF PORT "reset" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led[0]" SITE "K18";
LOCATE COMP "led[1]" SITE "T18";
LOCATE COMP "led[2]" SITE "R17";
LOCATE COMP "led[3]" SITE "M17";

IOBUF PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
